<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
   </startup>
   <appSettings>
      <add key="AgendaResPath" value="\GameRes\Agenda.xml"/>
      <add key="CampaignResPath" value="\GameRes\Campaign.xml"/>
      <add key="CharacterResPath" value="\GameRes\Character.xml"/>
      <add key="ClassResPath" value="\GameRes\Class.xml"/>
      <add key="ItemResPath" value="\GameRes\Item.xml"/>
      <add key="RewardResPath" value="\GameRes\Reward.xml"/>
      <add key="SupplyResPath" value="\GameRes\Supply.xml"/>
      <add key="SideMissionResPath" value="\GameRes\SideMission.xml"/>
      <add key="StoryMissionResPath" value="\GameRes\StoryMission.xml"/>
      <add key="GameSavePath" value="\SavedGames\"/>
   </appSettings>
</configuration>
